.blogTurismo{
  background-image: url("../img/fondo.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 100%;
  background-attachment: fixed;
  margin-left: auto;
  margin-right: auto;

}

.body{
  margin: 1.5rem;
}

.logo{
	width: 80%;
	height:auto;
}


.colRed{
	background: ;
	text-align: center;
	border-radius: 1rem;
	margin-top: 1rem;
	margin-bottom: 1rem;
}



.redes{
	margin-top: 1rem;
}

.fa{
	margin-top: 1rem;
	margin-bottom: 1rem;
	width: 100%;
}

.facebook{
	color: #334c8c;
}

.facebook:hover{
	background:  #334c8c;
	color:#fff;
}

.twitter{
	color: #0098db;

}
.twitter:hover{
	background:  #0098db;
	color:#fff;
}

.linkedin{
	color: #069;

}
.linkedin:hover{
	background:  #069;
	color:#fff;
}

.gplus{
	color: #cb4125;

}
.gplus:hover{
	background: #cb4125;
	color:#fff;
}

.imgcenter{
	height: auto%;
	width: 100%;
}

.imgLeft{
	height: auto;
	width: 100%;
}

.secPrinc{
	padding: 0px !important;
}
.public{
	float: left;
	margin: 1rem;
}
